<div class="jumbotron text-center">
	<h3>People</h3>
	<div class="btn-group" role="group" aria-label="Default Button Groups">
		<button type="button" class="btn btn-default">Everyone</button>
		<button type="button" class="btn btn-default">My Gym</button>
	</div>
</div>

<div class="container">
	<div class="row">
		<%= render @users %>
	</div>
</div>