<div class="panel panel-default">
	<div class="panel-heading">
		
	</div>
	<div class="panel-body">
	<ul>
		<%= @posts.each do |post| %>
			<li><%= post.content %></li>
		<% end %>
	</ul>
	</div>
</div>