// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home-information {
	height: 300px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
}

.bg-dark {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
}

.slogan {
	color: white;
	font-family: 'Raleway', "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 500;
	font-size: 45px;
	line-height: 1.2em;
	padding: 10px 0 10px;
	text-align: center;
}
.signup-query{
	color:white;
}

.signup-button a {
	text-decoration: none;
}
.signup-button button {
  max-width: 265px;
  margin: 10px auto;
  font-size: 1.5rem; 
  border: 1px solid transparent;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.signup-button button:hover {
  background-color: #ffffff;
  color: #f14444;  
}

